<div class="lesson-show">

  <ul>
    <li><h1>授業詳細</h1></li>
    <li><h2>講師氏名</h2><%=@lesson.teacher.name %></li>
    <li><h2>生徒氏名</h2><%=@lesson.student.name %></li>
    <li><h2>教材名</h2><%=@lesson.text_name%></li>
    <li><h2>開始時間</h2><%=@lesson.starts_at %></li>
    <li><h2>終了時間</h2><%=@lesson.ends_at %></li>
    <li><h2>宿題</h2><%=@lesson.homework %></li>
    <li><h2>授業予告</h2><%=@lesson.notice %></li>
    <li><h2>授業の振り返り</h2><%=@lesson.feedback %></li>
    <li>
      <h2>
        <%= link_to "編集", edit_teachers_lesson_path %>
        <%= link_to "削除", teachers_lesson_path(@lesson.id),method: :delete, "data-confirm" => "本当に削除しますか"%>
      </h2>
    </li>
  </ul>
</div>
