<div class="container">
  <div class="row">
    <h3>◆授業詳細画面◆</h3>
    <h3>
      <%= link_to "編集", edit_teachers_lesson_path, class:"btn btn-warning" %>
      <%= link_to "削除", teachers_lesson_path(@lesson.id),class:"btn btn-warning",method: :delete, "data-confirm" => "本当に削除しますか"%>
    </h3>
  </div>
    <h2 class="block fas fa-user">講師 <%= @lesson.teacher.name %></h2><br>

    <h2 class="block fas fa-user">生徒 <%= @lesson.student.name%></h2></br>

    <h2 class="block fas fa-book-open">教材名 <%= @lesson.text_name%></h2> <br/>

    <h2 class="block fas fa-clock">開始時間  <%= @lesson.starts_at %></h2><br/>

    <h2 class="block fas fa-clock">終了時間 <%=@lesson.ends_at%></h2> <br/>

    <h2 class="block fas fa-pen">宿題  <%= @lesson.homework %></h2><br/>

    <h2 class="block fas fa-comment-dots">講師コメント  <%= @lesson.feedback%></h2> <br/>

    <h2 class="block fas fa-bullhorn">授業予告 <%= @lesson.notice%></h2>
</div>