<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

   <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autofocus: true %>
  </div>

    <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autofocus: true %>
  　</div>

   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
   </div>

  <div class="field">
    <%= f.label :number %><br />
    <%= f.text_field :number%>
  </div>

  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
