<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.email_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :student_number %><br />
    <%= f.password_field :student_number%>
  </div>

  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
<% end %>

<%= render "students/shared/links" %>
