<div class="textbook_student-register">
   <h1>生徒教材の新規登録</h1>
      <% if @textbook_student.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
   <%= form_with model:@textbook_student, url:teachers_textbook_students_path, local:true do |f|%>


        <p class="select">
          <%= f.label :student_id, "生徒名"%>
          <%= f.collection_select(:student_id, Student.all, :id, :name)%>
        </p>


        <p class="select">
          <%= f.label :name, "教材名"%>
          <%= f.collection_select(:textbook_id, Textbook.all, :id, :name)%>
        </p>

      <h2 class="text1">

          <%= f.submit "新規登録"%>

      </h2>
  　 <% end %>
  </div>