<div class="container-fluid">
 <div class="row">

   <div class="col-lg-3 left">
     <div class="new-register">
       <%= link_to "  生徒登録", new_teachers_student_path, class: "btn btn-warning fas fa-user " %>
     </div>
     <div class="new-register">
       <%= link_to "関連付け", new_teachers_textbook_student_path, class: "btn btn-warning fas fa-bookmark "%>
     </div>
     <div class="new-register">
       <%= link_to "教材登録", new_teachers_textbook_path, class: "btn btn-warning fas fa-bookmark "%>
     </div>
   </div>

   <div class="col-lg-9">
      <p class="text">
        <h1><i class="fas fa-users"></i>生徒一覧<i class="fas fa-users"></i></h1>
      </p>
      <div class="contents">
      <% @students.each do |student| %>
      <div class="box">

        <h5 >氏名</h5>
          <%= link_to student.name, teachers_student_path(student.id), class: "box-text"%>
      </div>
      <% end %>
      <h2 class="page">
        <%= paginate @students %>
      </h2>
    </div>

