 <div class="student-register">
   <h1><i class="fas fa-user"></i>生徒新規登録<i class="fas fa-user"></i></h1>
      <% if @student.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <ul>
          <% @student.errors.full_messages.each do |message| %>
            <li>
              <%= message %>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    <%= form_with model: @student,url: teachers_students_path, local: true do |f|%>

      <h2 class="block">氏名</h2>
        <%= f.text_field :name %><br>
      <h2 class="block">氏名カナ</h2>
        <%= f.text_field :name_kana %><br>
      <h2 class="block">生徒番号</h2>
        <%= f.text_field :number %><br>
      <h2 class="block">メールアドレス</h2>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
      <h2 class="block">パスワード</h2>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %><br>
      <h2 class="block">パスワード<br>（確認用）</h2>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %><br>
      <h2 class="text1">

          <%= f.submit "新規登録", class:"btn btn-warning size-register"%>

      </h2>
  　 <% end %>
  </div>