  <div class="lesson">
    <ul class="lesson-show">
      <li class="lesson-item"><h2 class="fas fa-chalkboard-teacher">講師氏名</h2><br><%=@lesson.teacher.name %></li>
      <li class="lesson-item" ><h2 class="fas fa-user">生徒氏名</h2><br><%=@lesson.student.name %></li>
      <li class="lesson-item"><h2 class="fas fa-book-open">教材名</h2><br><%=@lesson.text_name%></li>
      <li class="lesson-item"><h2 class="far fa-clock">開始時間</h2><br><%=@lesson.starts_at %></li>
      <li class="lesson-item"><h2 class="fas fa-clock">終了時間</h2><br><%=@lesson.ends_at %></li>
      <li class="lesson-item"><h2 class="fas fa-file-alt">宿題</h2><br><%=@lesson.homework %></li>
      <li class="lesson-item"><h2 class="fas fa-bullhorn">授業予告</h2><br><%=@lesson.notice %></li>
      <li class="lesson-item"><h2 class="fas fa-comment-dots">授業の振り返り</h2><br><%=@lesson.feedback %></li>
    </ul>
</div>
