<div class="student-register">
   <h1 class="fas fa-sign-in-alt"> Log in</h1>
   <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h2 class="block">氏名</h2>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %><br>
      <h2 class="block">メールアドレス</h2>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
      <h2 class="block">パスワード</h2>
        <%= f.password_field :password, autocomplete: "current-password" %><br>

        <% if devise_mapping.rememberable? %>
          <%= f.label :remember_me %>
           <%= f.check_box :remember_me %>
　　　  <% end %>
      <h2 class="text1">
          <%= f.submit "Log In して進む",  class:"btn btn-warning",:size => "60x20"%>
      </h2>
  　 <% end %>
  </div>