<!DOCTYPE html>
<html>
  <head>
    <title>WinWin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <header>
    <div class="container">
     <% if teacher_signed_in? %>
      <ul class="nav">
        <li class="nav-item">
          <%=link_to "WIN-WIN", root_path,class:"fa-solid fa-book"%>
        </li>
        <li  class="nav-item">
          <%= link_to "授業一覧", teachers_lessons_path ,class: "nav-link active" ,class:"btn btn-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "生徒一覧", teachers_students_path,class: "nav-link active" ,class:"btn btn-primary" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete,class: "nav-link active" ,class:"btn btn-primary" %>
        </li>
        </ul>

       <% elsif student_signed_in? %>
         <ul  class="nav">
           <li class="nav-item">
             <%=link_to "WIN-WIN", root_path,class:"fa-thin fa-book"%>
           </li>
           <li class="nav-item">
             <%= link_to "授業一覧", students_lessons_path, class: "nav-link active",class:"btn btn-primary"  %>
           </li>
           <li  class="nav-item">
             <%= link_to "教材一覧", students_textbooks_path, class: "nav-link active",class:"btn btn-primary"   %>
           </li>
           <li class="nav-item">
             <%= link_to "ログアウト", destroy_student_session_path, method: :delete, class: "nav-link active" ,class:"btn btn-primary"  %>
           </li>
         </ul>
       <% end %>
        </div>
    </header>

 <%= yield %>
 <footer></footer>
  </body>
</html>
