<!DOCTYPE html>
<html>
  <head>
    <title>WinWin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>


  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <% if teacher_signed_in? %>
        <ul class="nav justify-content-center">
        <li  class="nav-item">
          <%= link_to "授業一覧", teachers_lessons_path ,class: "nav-link active"  %>
        </li>
        <li class="nav-item">
          <%= link_to "生徒一覧", teachers_students_path,class: "nav-link active"  %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", destroy_teacher_session_path, method: :delete,class: "nav-link active"  %>
        </li>
        </ul>

       <% elsif student_signed_in? %>
         <ul  class="nav justify-content-center">
           <li class="nav-item">
             <%= link_to "授業一覧", students_lessons_path, class: "nav-link active" %>
           </li>
           <li  class="nav-item">
             <%= link_to "教材一覧", students_textbooks_path, class: "nav-link active"  %>
           </li>
           <li class="nav-item">
             <%= link_to "ログアウト", destroy_student_session_path, method: :delete, class: "nav-link active"  %>
           </li>
         </ul>
       <% else %>
         <ul class="navbar-nav ml-auto">
           <li>
             <%= link_to "ログイン", new_student_session_path %>
            </li>
         </ul>
       <% end %>
      </nav>
    </header>
 <%= yield %>
 <footer></footer>
  </body>
</html>
